* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s ease;
}
html, body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
body{
    font-family: 'Noto Sans JP', sans-serif;
   
}
